/* 
These are styles for the html elements in the Clock component.
*/

.dv-date {
    font-size: x-large;
    background: #fff;
    width: 40vh;
    margin: 5vh;
    margin-bottom: 0vh;
    padding: 1vh;
    border: 2px solid black;
    text-shadow: -.25px -.25px 0 transparent, 
                .25px .25px transparent;
    display: inline-block;
}

.dv-date:hover {
    font: bold;
    text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;
    cursor: default;
    box-shadow: 0 0 0 1px #000;
}

.dv-info {
    font-size: x-large;
    margin-bottom: 2vh;
    font-weight: 600;
}