<div class="dv-info">What day is it today?</div>
<div>
    <div class="dv-date" *ngIf="numberFormatted !== null">{{numberFormatted}}</div>
    <div class="dv-date" *ngIf="dayNameFormatted !== null">{{dayNameFormatted}}</div> 
</div>

