/* 
This file sets the font and sizing of the entire project, as well as the specific dimensions and style of the headline.
*/
.dv-app-bg {
    font-family: "Source Code Pro", monospace;
    text-align: center; font-size: small;
    height: 100vh;
    width: 100 vh;
  }

  .headline {
    font-size: xx-large;
    margin-bottom: 10vh;
    padding-bottom: 4vh;
    margin-left: 10vh;
    margin-right: 10vh;
    border-bottom: 2px black solid
  }